@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  height: 4500px;
  background: linear-gradient(180deg, #210a2b, #4C1F3B, #592970);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100px;
  background-color: #ffff;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.logoNavBar {
  width: 30%;
}

.logoNavBar img {
  width: 45%;
}

.navBarNexus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 55%;
  color: #280E33;
  font-size: 25px;
  font-weight: 600;
}

.navBarNexus ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.navBarNexus li {
  margin: 0px 40px;
}

.navBarNexus a {
  position: relative;
  color: #280E33;
  text-decoration: none;
  display: inline-block;
}

.navBarNexus a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  bottom: -5px;
  background-color: #01d4fe;
  transition: width 0.6s ease;
}

.navBarNexus a:hover::after {
  width: 100%;
}

.btnLoginNavBar {
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #0BC4D9;
  color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 5%;
  border-radius: 5px;
  transition: all 0.5s;
  width: 10%;
  font-family: "Montserrat", sans-serif;
  border: none;
}

.btnLoginNavBar:hover {
  color: #ffffff;
  box-shadow: 0 0 5px #00fbff;
  text-shadow: 0 0 5px #00ffea;
}

.btnLoginNavBar:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00d0ff;
}

.fa-bars {
  display: none;
}

::-webkit-scrollbar {
  width: 0%;
}

/* ::-webkit-scrollbar-thumb {
  background-color: #280E33;
  height: 116px;
  border-radius: 0px 0px 5px 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #280E33;
}

::-webkit-scrollbar-track {
  background-color: #280E33;
} */

.homepageNexus {
  flex: 1;
  position: absolute;
  z-index: 100;
  top: 140px;
  width: 100%;
  height: 800px;
}

.containerNexusHome {
  width: 100%;
  height: 100%;
}

.contentHome {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 16px;
}

.leftHome {
  width: 60%;
  height: 11.6px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffff;
}

.TitleNexusHome {
  font-size: 55px;
  width: 100%;
  font-weight: bold;
  text-align: left;
  padding: 20px 0px 10px 70px;
}

.subtitleNexusHome {
  font-size: 30px;
  width: 95%;
  font-weight: 400;
  text-align: left;
  padding: 40px 40px 0px 70px;
}

.btnSideNexus {
  width: 65%;
  padding: 50px 40px 0px 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnSideNexus button {
  cursor: pointer;
  font-size: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #0000003b 0px 6px 6px;
  font-weight: bold;
  color: #ffff;
  transition: all 0.5s;
  border-radius: 5px;
  background-color: #01d4fe;
  padding: 30px 105px;
}

.btnSideNexus button:hover {
  color: #ffffff;
  box-shadow: 0 0 5px #00fbff;
  text-shadow: 0 0 5px #00ffea;
}

.btnSideNexus button:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00d0ff;
}

.btnSideNexus img {
  transform: translateX(-25px);
}

.rightHome {
  width: 50%;
  height: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.imageNexusHome img {
  width: 40%;
  position: absolute;
  z-index: 105;
  right: 0;
}

.serviceNexus {
  width: 100%;
  position: relative;
  z-index: 10;
  top: 880px;
  height: 1500px;
}

.containerServiceNexus {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.content-Service {
  background: linear-gradient(180deg, rgba(50, 19, 53, 1) 0%, rgba(57, 17, 63, 1) 4%, rgba(154, 70, 32, 1) 19%, rgba(237, 115, 6, 1) 64%, rgba(255, 140, 0, 1) 100%);
  display: flex;
  width: 100%;
  height: 150%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 250px 100px 15px 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #ffffff;
  font-size: 60px;

}

.titleService {
  align-self: flex-start;
  gap: 4%;
  align-items: center;
  display: flex;
  width: 35%;
  padding: 0px 0px 0px 35px;
  height: 10vh;
  font-size: 70%;
}

.engrenagemTitle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80%;
}

.engrenagemTitle img {
  width: 90%;
}

.textAboutService {
  font-size: 40px;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  display: flex;
  width: 90%;
  padding: 10px 0px;
  font-family: "Montserrat", sans-serif;
  color: #530A73;
}

.boxText {
  padding: 90px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: rgba(106, 30, 105, 0.4) 5px 5px, rgba(122, 41, 92, 0.3) 10px 10px, rgba(196, 65, 148, 0.2) 15px 15px, rgba(234, 21, 156, 0.1) 20px 20px, rgba(255, 26, 171, 0.05) 25px 25px;
  background-color: #ffffff;
  border: 2px solid #ffffff8d;
  border-radius: 40px;
  height: 300px;
}

.boxService {
  padding: 40px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 170%;
  background: linear-gradient(180deg, rgba(255, 140, 0, 1) 75%, #38172F 115%);
}

.childOne,
.childTwo,
.childThree {
  width: 23%;
  height: 500px;
  border-radius: 25px;
  -webkit-box-shadow: 17px 17px 16px 6px rgba(32, 5, 33, 1);
  -moz-box-shadow: 17px 17px 16px 6px rgba(32, 5, 33, 1);
  box-shadow: 17px 17px 16px 6px rgba(32, 5, 33, 1);
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.childOne {
  align-self: flex-start;
}

.childTwo {
  align-self: center;
}

.childThree {
  align-self: flex-end;
}

.titleBoxOne,
.titleBoxTwo,
.titleBoxThree {
  padding: 25px 0px 10px 0px;
  width: 75%;
  font-size: 30px;
  font-weight: 700;
  color: #530A73;
}

.lineBox {
  width: 50%;
  height: 2px;
  background-color: #530A73;
}

.textBoxOne,
.textBoxTwo,
.textBoxThree {
  padding: 25px 0px 0px 0px;
  width: 85%;
  color: #530A73;
  font-size: 20px;
  font-weight: 600;
}

.whyNexus {
  position: absolute;
  top: 2380px;
  width: 100%;
  height: 1300px;
  background: linear-gradient(180deg, rgba(134, 69, 28, 1) 0%, rgba(95, 44, 29, 1) 10%, rgba(63, 24, 31, 1) 20%, rgba(37, 8, 33, 1) 35%, rgba(37, 8, 33, 1) 40%, rgba(40, 9, 34, 1) 50%, rgba(46, 13, 42, 1) 60%, rgba(51, 17, 48, 1) 65%, rgba(62, 23, 59, 1) 80%, rgba(73, 30, 71, 1) 90%, rgba(81, 35, 80, 1) 94%, rgb(85 38 95) 100%);
}

.containerWhyNexus {
  padding-top: 400px;
  width: 100%;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center
}

.content-WhyNexus {
  width: 100%;
  height: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.leftWhyNexus {
  align-self: flex-start;
  width: 40%;
  height: 70%;
}

.imgWhyNexus {
  width: 100%;
  height: 100%;
}

.imgWhyNexus img {
  width: 100%;
  height: 100%;
}

.rightWhyNexus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 100%;
}

.tilteWhyNexus {
  display: flex;
  font-size: 55px;
  color: #ffffff;
  font-weight: 700;
  padding: 30px;
}

.imgLampWhyNexus img {
  width: 80%;
}

.boxWhiteWhyNexus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  box-shadow: rgba(146, 46, 240, 0.4) 5px 5px, rgba(133, 46, 240, 0.3) 10px 10px, rgba(146, 46, 240, 0.2) 15px 15px, rgba(153, 46, 240, 0.1) 20px 20px, rgba(140, 46, 240, 0.05) 25px 25px;
  width: 85%;
  height: 230px;
  background-color: #ffffff;
  border-radius: 15px;
}

.boxWhiteWhyNexus p {
  font-size: 77%;
}

.textWhyNexus {
  text-align: justify;
  height: 800px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 42px;
  color: #530A73;
  font-weight: 500;

}

.contactNexus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2200px;
  width: 100%;
  height: 6%;
}

.boxContact {
  background-color: #FF8C00;
  width: 50%;
  height: 140%;
  justify-content: space-between;
  align-self: center;
  color: #530A73;
  font-size: 90%;
  padding: 30px;
  font-size: 79px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 8px 17px 16px 6px rgba(32, 5, 33, 1);
  z-index: 2;
}

.inputsContact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.inputsContact input {
  justify-content: center;
  outline: none;
  align-self: center;
  border-radius: 30px;
  font-size: 15px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  border: none;
  width: 49%;
  font-weight: 530;
}

.inputsContact input::placeholder {
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
}


.leftContact {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftContactVerificado {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  font-size: 25px;
  height: 100%;
  width: 100%;
}

.leftContactVerificado img {
  margin: 50px;
  width: 65px;
  height: 65px;
}



.titleBoxNexusContact {
  text-align: center;

}

.rightContact {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  background-color: #ffffff;
  width: 42%;
}

.mapsNexus {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mapsNexus iframe {
  outline: none;
  border: 10px solid white;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}


.mensageContact {
  background-color: white;
  border-radius: 30px;
  width: 100%;
  height: 50%;
  margin-top: 2%;
  text-align: center;
}

.mensageContact textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 15px;
  resize: none;
  font-weight: 530;
  border: none;
  border-radius: 30px;
  outline: none;
  height: 100%;
}

.mensageContact textarea::placeholder {
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
}

.btnEnviarMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.btnEnviarMsg button {
  font-size: 15px;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #0000003b 0px 6px 6px;
  color: #ffff;
  padding: 10px 100px;
  cursor: pointer;
  border: 2px solid #FF8C00;
  border-radius: 15px;
  background-color: #ff9d24;
}

.btnEnviarMsg button:hover {
  background-color: #ffb731;
  border: 2px solid #ffb731;
  color: #ffffff;
  box-shadow: 0 0 5px #ffe600;
  text-shadow: 0 0 5px #ffe600;
}

.btnEnviarMsg button:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffe600;
}



.group {
  z-index: 3;
  left: -30px;
  top: -150%;
  position: relative;
  height: 10vh;
  width: 6vw;
}


.footerNexus {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;

}

footer {
  width: 100%;
  height: 129%;
  z-index: 1;
  top: 2100px;
  background: linear-gradient(313.05deg, rgba(15, 4, 20, 0.2) 48.95%, rgba(255, 0, 162, 0.2) 83.78%), linear-gradient(0deg, #07000B 52.45%, #381C38 106.12%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100% 100% 0 0 / 75% 75% 0 0;
  overflow: hidden;
}

.conteudosFooter {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin-top: 7%;
  align-items: center;
}

.imglogo {
  height: 50%;
}

.linksUteis {
  color: white;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
}

.linksUteis p {
  font-weight: 600;
  font-size: 30px;
}

.linksUteis a {
  text-decoration: none;
  color: white;
  padding: 0px 5px;
}


.linksUteis li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-top: 2.5%;
}

.linksUteis ul {
  gap: 5%;
  display: flex;
  flex-direction: column;
}

.contato {
  color: white;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  width: 20%;
}

.contato p {
  font-weight: 600;
  font-size: 30px;
}

.contato i {
  margin-right: 2%;
  color: #FF8C00;
}

.contato li {
  list-style: none;
  margin-top: 2%;
}

.contato ul {
  gap: 5%;
  display: flex;
  flex-direction: column;
}

.redes {
  flex-direction: row;
  gap: 10%;
  display: flex;
  justify-content: center;
  width: 85%;

}

.redes i {
  color: #FF8C00;
  font-size: 30px;
  margin: 5%;
}

.copy {
  font-weight: 700;
  color: white;
  font-size: 15px;

}

.imgContact {
  align-self: flex-start;
  display: flex;
  height: 6vh;
  width: 4vw;
}

header i {
  display: none;
}

.mobileMenu {
  display: none;
}

#iconMenu {
  display: none;
}

@media only screen and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    height: 4700px;
  }

  #iconMenu {
    display: flex;
  }

  .logoNavBar img {
    width: 100%;
    height: auto;
  }

  .navBarNexus ul {
    display: none;
  }

  .btnLoginNavBar {
    display: none;
  }

  i {
    font-size: 40px;
    font-weight: 700;
    color: #280E33;
  }

  header {
    position: fixed;
    width: 100vw;
  }

  .mobileMenu {
    display: none;
    background-color: #ffff;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-direction: column;
    top: 75px;
    position: fixed;
    z-index: 200;
    height: 200px;
    transition: 0.4s;
    overflow-x: hidden;
    width: 100%;
  }

  .mobileMenu li {
    list-style: none;
    margin-bottom: 5%;
  }

  .mobileMenu a {
    text-decoration: none;
    color: #280E33;
    font-size: 20px;
    font-weight: 600;
  }

  .btnLoginMobile {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0BC4D9;
    color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    transition: all 0.5s;
    width: 30%;
    height: 25%;
    font-family: "Montserrat", sans-serif;
    border: none;
  }

  .TitleNexusHome {
    font-size: 21px;
    padding: 20px 0px 10px 25%;
  }

  .subtitles {
    width: 100%;
  }

  .subtitleNexusHome {
    font-size: 18px;
    width: 150%;
    display: flex;
    padding: 20px 0px 10px 25%;
  }

  .btnSideNexus {
    width: 100%;
    margin-left: 93%;
    padding: 50px 40px 0px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btnSideNexus button {
    cursor: pointer;
    font-size: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #0000003b 0px 6px 6px;
    font-weight: bold;
    color: #ffff;
    transition: all 0.5s;
    border-radius: 5px;
    background-color: #01d4fe;
    padding: 20px 85px;
  }

  .imgContact {
    display: none;
  }

  .boxContact {
    width: 90%;
    font-size: 35px;
  }

  .titleBoxNexusContact {
    text-align: center;
    margin-bottom: 5%;
    font-weight: 700;
  }

  .btnEnviarMsg {
    height: auto;
  }

  .btnEnviarMsg button {
    font-size: 15px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #0000003b 0px 6px 6px;
    color: #ffff;
    padding: 10px 75px;
    cursor: pointer;
    border: 2px solid #FF8C00;
    border-radius: 15px;
    background-color: #ff9d24;
  }

  .mensageContact {
    height: 45%;
    margin-bottom: 2%;
  }

  .leftContact {
    width: 100%;
  }

  .rightContact {
    display: none;
  }

  footer {
    height: 200%;
    border-radius: 100% 100% 0 0 / 40% 40% 0 0;
    top: 2675px;
  }

  .footerNexus {
    height: 540px;
  }
  .contactNexus {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2780px;
    width: 100%;
    height: 6%;
  }

  .contato li {
    list-style: none;
    margin-top: 5%;
  }

  .contato {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contato i {
    margin-right: 2%;
    color: #FF8C00;
    font-size: 20px;
  }

  .conteudosFooter {
    flex-direction: column;
    margin-top: 25%;
    gap: 7%;
  }

  .imglogo {
    height: 25%;
  }

  .linksUteis {
    align-items: center;
  }

  .linksUteis ul {
    margin-inline-start: 10%;
  }

  .linksUteis li {
    margin-top: 5%;
  }

  .linksUteis a {
    padding: 0px 10px;
  }

  .copy {
    margin-top: 5%;
  }

  /* .mobileMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: white;
    top: 100px;
    width: 100%;
    height: auto;
  } */

  .titleService {
    align-self: flex-start;
    gap: 4%;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0px;
    height: 10vh;
    font-size: 45%;
    justify-content: center;
  }
  .engrenagemTitle img{
    height: 30px;
    width: auto;
  }
  .textAboutService {
    font-size: 33%;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    display: flex;
    width: 175%;
    padding: 10px 0px;
    font-family: "Montserrat", sans-serif;
    color: #530A73;
}
.content-Service {
  background: linear-gradient(180deg, rgba(50, 19, 53, 1) 0%, rgba(57, 17, 63, 1) 4%, rgba(154, 70, 32, 1) 19%, rgba(237, 115, 6, 1) 64%, rgba(255, 140, 0, 1) 100%);
  display: flex;
  width: 100%;
  height: 150%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 90px 100px 0px 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: #ffffff;
  font-size: 60px;
}
.boxService {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: center;
  width: 100%;
  height: 170%;
  background: linear-gradient(180deg, rgba(255, 140, 0, 1) 75%, #38172F 115%);
}
.boxText {
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: rgba(106, 30, 105, 0.4) 5px 5px, rgba(122, 41, 92, 0.3) 10px 10px, rgba(196, 65, 148, 0.2) 15px 15px, rgba(234, 21, 156, 0.1) 20px 20px, rgba(255, 26, 171, 0.05) 25px 25px;
  background-color: #ffffff;
  border: 2px solid #ffffff8d;
  border-radius: 40px;
  height: 300px;
  text-align: center;
}
.childOne {
  align-self: center;
  margin-bottom: 40px;
}

.childTwo {
  align-self: center;
  margin-bottom: 40px;
}

.childThree {
  align-self: center;
}
.childOne, .childTwo, .childThree {
  width: 95%;
  height: 500px;
  border-radius: 25px;
  -webkit-box-shadow: 17px 17px 16px 6px rgba(32, 5, 33, 1);
  -moz-box-shadow: 17px 17px 16px 6px rgba(32, 5, 33, 1);
  box-shadow: 17px 17px 16px 6px rgba(32, 5, 33, 1);
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.whyNexus {
  position: absolute;
  top: 3003px;
  width: 100%;
  height: 1300px;
  background: linear-gradient(180deg, rgba(134, 69, 28, 1) 0%, rgba(95, 44, 29, 1) 10%, rgba(63, 24, 31, 1) 20%, rgba(37, 8, 33, 1) 35%, rgba(37, 8, 33, 1) 40%, rgba(40, 9, 34, 1) 50%, rgba(46, 13, 42, 1) 60%, rgba(51, 17, 48, 1) 65%, rgba(62, 23, 59, 1) 80%, rgba(73, 30, 71, 1) 90%, rgba(81, 35, 80, 1) 94%, rgb(85 38 95) 100%);
}
.imgWhyNexus{
  width: 100%;
  height: auto;
}
.boxWhiteWhyNexus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  box-shadow: rgba(146, 46, 240, 0.4) 5px 5px, rgba(133, 46, 240, 0.3) 10px 10px, rgba(146, 46, 240, 0.2) 15px 15px, rgba(153, 46, 240, 0.1) 20px 20px, rgba(140, 46, 240, 0.05) 25px 25px;
  width: 151%;
  height: 230px;
  margin-left: -172px;
  background-color: #ffffff;
  border-radius: 15px;
  font-size: 30px;
}

.imgLampWhyNexus{
  display: none;
}
.tilteWhyNexus {
  display: flex;
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  padding: 0px;
  margin-left: 5%;
  margin-bottom: 25%;
  margin-top: 7%;
}

}