a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-family: "Wix Madefor Display", system-ui;
}

:root {
  --BoltIaUsername: linear-gradient(86deg, rgba(59, 0, 255, 1) 0%, rgba(0, 254, 255, 1) 50%, rgba(0, 176, 255, 1) 100%);
  --background: linear-gradient(145deg, rgba(69, 0, 99, 1) 0%, rgba(9, 0, 111, 1) 25%, rgba(19, 104, 217, 1) 75%, rgba(11, 196, 217, 1) 100%);
  --marquee: #0022ff;
  --hoverColor: #002176;
  --menuFechado: #000000;
  --menuAberto: rgba(0, 0, 0, 0.82);
  --bcgIcone: #001751;
  --bgcLi: rgba(0, 23, 81, 0.781);
  --titulos: #ffffff;
  --boxGraphic: #000000b9;
  --boxGraphicContent: #00000071;
  --downLetter: #c5c3c32e;
  --BoxBolt: #051f3c99;
}

.light {
  --BoltIaUsername: linear-gradient(86deg, rgb(140, 0, 255) 0%, rgb(0, 102, 255) 50%, rgb(13, 0, 192) 100%);
  --background: linear-gradient(145deg, rgb(179, 0, 255) 0%, rgb(21, 0, 255) 25%, rgb(0, 110, 255) 75%, rgb(0, 225, 255) 100%);
  --hoverColor: #4378ff;
  --menuAberto: rgba(255, 255, 255, 0.82);
  --titulos: #000000;
  --menuFechado: #ffffffc0;
  --boxGraphic: #ffffff76;
  --boxGraphicContent: #ffffff31;
  --bgcLi: rgba(90, 136, 255, 0.781);
  --bcgIcone: #8aabff;
  --downLetter: #0000002e;
  --BoxBolt: #12509699;
}

body {
  background: var(--background);
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: start;
}


.container {
  width: 250px;
  height: 100%;
  position: relative;
  display: flex;
  z-index: 99;
  align-items: start;
  flex-direction: column;
}

#ativar {
  position: absolute;
  background-color: var(--menuFechado);
  height: 100%;
  width: 7dvw;
  z-index: 1;
  transition: all 0.3s ease;
}

.line {
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;


}

#menu {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  border: none;
  margin-top: 10px;
  height: 10%;

  & button {
    top: 25px;
    left: 32px;
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: end;
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  & img {
    width: 60px;
    height: 60px;
  }

  & #mainTitle {
    font-family: "Montserrat", system-ui;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--titulos);
    font-size: 30px;
    position: relative;
    left: 90px;
    transition: all 0.3s ease;
    height: 100%;
    width: 50%;
    font-weight: 700;

  }
}

#ativar.active {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  z-index: -1;
  background-color: var(--menuAberto);
  width: 250px;
  ;
}

#menuItens.open {
  color: var(--titulos);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 25dvh;
  width: 200px;
  max-height: 500px;
  transition: all 0.3s ease;
}


#menuItens i {
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--bcgIcone);
  padding: 15.7px 20px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#menuItens2 i {
  font-size: 20px;
  width: 62px;
  max-width: 62px;
  min-width: 62px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  background-color: var(--bcgIcone);
  padding: 16px 20px;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


#menuItens {
  position: relative;
  top: 10px;
  gap: 20px;
  color: var(--titulos);
  width: 63px;
  height: 25dvh;
  display: flex;
  align-items: start;
  left: 30px;
  flex-direction: column;
  justify-content: start;
  transition: all 0.3s ease;
}

#menuItens2 {
  position: relative;
  top: 10px;
  gap: 20px;
  color: var(--titulos);
  width: 63px;
  height: 25dvh;
  display: flex;
  align-items: start;
  left: 33px;
  flex-direction: column;
  justify-content: start;
  transition: all 0.3s ease;
}

#menuItens.open li {
  height: 56.5px;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: var(--bgcLi);
  justify-content: start;
  align-items: flex-start;
  display: flex;
  transition: all 0.3s ease;
}

#menuItens i:hover {
  background-color: var(--hoverColor);
}

#menuItens.open li:hover {
  background-color: var(--hoverColor);
}


#menuItens2.open li:hover {
  background-color: var(--hoverColor);
}


#menuItens li #titulo {
  display: none;
  height: 5dvh;
  margin: 5px 10px;
  justify-content: center;
  font-family: "Wix Madefor Display", system-ui;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

#menuItens li #titulo2 {
  display: none;
  height: 5dvh;
  margin: 5px 5px;
  justify-content: center;
  font-family: "Wix Madefor Display", system-ui;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

#menuItens li #titulo3 {
  display: none;
  height: 5dvh;
  margin: 5px 15px;
  justify-content: center;
  font-family: "Wix Madefor Display", system-ui;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

#menuItens2 li #titulo4 {
  height: 75%;
  display: none;
  justify-content: center;
  font-family: "Wix Madefor Display", system-ui;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

#menuItens2 li #titulo5 {
  display: none;
  height: 75%;
  justify-content: center;
  font-family: "Wix Madefor Display", system-ui;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

#menuItens2 li #titulo6 {
  height: 75%;
  display: none;
  justify-content: center;
  font-family: "Wix Madefor Display", system-ui;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

#config {
  position: relative;
  left: 35px;
  top: 25px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  border: none;
  height: 10%;

  & button {
    left: 3px;
    position: relative;
    height: 100%;
    cursor: pointer;
    border: none;
    background: transparent;
    width: 50px;
    transition: transform 0.5s ease-in-out;

    & .gear-icon {
      width: 30px;
      height: 30px;
      transition: transform 0.6s ease-in-out;
    }

    & .rotate {
      transform: rotate(360deg);
    }

  }



  & #configNex {
    margin-left: 1px;
    font-family: "Montserrat", system-ui;
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--titulos);
    font-size: 20px;
    transition: all 0.3s ease;
    height: 100%;
    width: 55%;
    font-weight: 500;
  }
}

#menuItens2.open {
  color: var(--titulos);
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  height: 25dvh;
  width: 200px;
  max-height: 500px;
  transition: all 0.3s ease;
}

#menuItens2 li {
  height: 52.5px;
  cursor: pointer;
  width: 99%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  background-color: var(--bgcLi);
  justify-content: start;
  align-items: flex-start;
  display: flex;
  transition: all 0.3s ease;
}

#menuItens2 i:hover {
  background-color: var(--hoverColor);
}

#menuItens2 li h4 {
  display: none;
  height: 5dvh;
  margin: 5px 10px;
  justify-content: center;
  font-family: "Wix Madefor Display", system-ui;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

#menuItens2.open li h4 {
  display: flex;
}

.boltIA {
  position: relative;
  bottom: -120px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;

  & .cachorro {
    position: fixed;
    height: 10%;
    width: 140px;
    cursor: pointer;
    border: none;
    left: 0;
    background: transparent;
  }

  & h2 {
    display: none;
    cursor: pointer;
    font-family: "Wix Madefor Display", system-ui;
    position: relative;
    left: 25px;
    color: var(--titulos);
  }
}


.highContentNex,
.highContentNex2,
.highContentNex3,
.highContentNex4,
.highContentNex5 {
  gap: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8% 15% 67%;
  top: 25px;
  height: 100%;
  z-index: 98;
  margin: 0 auto;
  width: 90dvw;
  right: 30px;
  position: fixed;
  border-radius: 10px;

  & .NamePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .currentPage {
      width: 32.5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90%;

      & .contentPage {
        background-color: var(--boxGraphic);
        color: var(--titulos);
        border-radius: 10px;
        padding: 20px;
        font-size: 25px;
        font-family: "Wix Madefor Display", system-ui;
        font-weight: 700;
      }

      & select{
        background-color: var(--boxGraphic);
        color: var(--titulos);
        border-radius: 10px;
        padding: 19px;
        outline: none;
        border: none;
        font-size: 25px;
        font-family: "Wix Madefor Display", system-ui;
        font-weight: 700;
      }
    }


    & .information {
      gap: 5px;
      width: 24%;
      height: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;

      & .notify {
        width: 15%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--boxGraphic);

        & .sininho {
          background: transparent;
          width: 100%;
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          border: none;
          height: 100%;
          border-radius: 50%;
        }
      }

      & .field {
        width: 66%;
        height: 90%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--boxGraphic);

        & .search {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          display: flex;
          z-index: 1000;
          position: relative;
          justify-content: space-between;
          align-items: center;

          & input {
            width: 100%;
            padding: 10px;
            height: 100%;
            position: absolute;
            color: var(--titulos);
            font-size: 15px;
            border-radius: 20px;
            background-color: var(--boxGraphic);
            border: none;
            outline: none;
          }

          & i {
            padding: 10px;
            cursor: pointer;
            right: 10px;
            position: absolute;
          }
        }

        & marquee {
          width: 100%;
          font-size: 50px;
          height: 100%;
          border-radius: 20px;
          display: flex;
          font-family: "Wix Madefor Display", system-ui;
          justify-content: center;
          align-items: center;
          font-weight: 900;
          color: var(--marquee);
        }
      }

      & .perfil {
        width: 15%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--boxGraphic);

        & .perfilIcon {
          background: transparent;
          width: 100%;
          display: flex;
          cursor: pointer;
          justify-content: center;
          align-items: center;
          border: none;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

}

.highContentNex {

  .highContentNex,
  .highContentNex2,
  .highContentNex3,
  .highContentNex4,
  .highContentNex5 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
  }

  .highContentNex.active,
  .highContentNex2.active,
  .highContentNex3.active,
  .highContentNex4.active,
  .highContentNex5.active {
    opacity: 1;
    display: grid;
  }


  & .Kpis {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 32.5%);


    & .cardKpis {
      border-radius: 10px;
      background-color: var(--boxGraphic);

      & .containerKPItitulo {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 35% 65%;

        & .titleKpi {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: var(--titulos);
          width: max-content;
          font-size: 24.5px;
          font-family: "Wix Madefor Display", system-ui;
          font-weight: 700;
        }

        & .insight {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: var(--titulos);
          font-size: 45px;
          font-family: "Wix Madefor Display", system-ui;
          font-weight: 700;

          & img {
            width: 75px;
            height: 75px;
          }
        }
      }
    }
  }

  & .Graphics {
    display: grid;
    gap: 20px 0;
    justify-content: space-between;
    grid-template-columns: 74.7% 24%;
    grid-template-rows: 45% 52%;

    & .GraphicDash {
      border-radius: 10px;
      background-color: var(--boxGraphic);
    }

    & .GraphicDash:nth-child(1) {
      display: grid;
      justify-content: center;
      align-items: center;
      gap: 15px;
      grid-template-columns: repeat(3, 32%);

      & .consumo {
        height: 95%;
        width: 100%;
        gap: 10px;
        display: grid;

        grid-template-rows: 10% 85%;
        border-radius: 10px;

        & .titleGraphic {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: var(--titulos);
          font-size: 25px;
          font-family: "Wix Madefor Display", system-ui;
          font-weight: 700;
        }

        & .graphicContent {
          background-color: var(--boxGraphicContent);
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & #consumoHorarioChart{

          width: 100%;
          height: 100%;
        }
      }
    }

    & .GraphicDash:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;

      & .EmissaoCo2 {
        height: 95%;
        width: 95%;
        gap: 10px;
        display: grid;
        grid-template-rows: 10% 85%;
        border-radius: 10px;

        & .titleCo2 {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: var(--titulos);
          font-size: 25px;
          font-family: "Wix Madefor Display", system-ui;
          font-weight: 700;
        }

        & .contentCo2 {
          background-color: var(--boxGraphicContent);
          border-radius: 15px;
        }
      }
    }

    & .GraphicDash:nth-child(3) {
      display: flex;
      justify-content: center;
      align-items: center;

      & .historicoConsumo {
        height: 98%;
        width: 98.5%;
        gap: 10px;
        display: grid;
        grid-template-rows: 10% 85%;
        border-radius: 10px;

        & .titleHistory {
          display: flex;
          justify-content: start;
          align-items: center;
          padding: 20px;
          text-align: center;
          color: var(--titulos);
          font-size: 25px;
          font-family: "Wix Madefor Display", system-ui;
          font-weight: 700;
        }

        & .graphicHistory {
          background-color: var(--boxGraphicContent);
          border-radius: 15px;
        }
      }
    }

    & .GraphicDash:nth-child(4) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-direction: column;


      & .titleTree{
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--titulos);
        font-size: 25px;
        font-family: "Wix Madefor Display", system-ui;
        font-weight: 700;
      }

      & .Three {
        height: 82.5%;
        border-radius: 10px;
        width: 96.5%;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background-color: var(--boxGraphicContent);



        & #TreeGraphic  {
          position: relative;
          top: -70px;
          width: 390px;
          height: 440px
        }
      }
    }
  }
}

.highContentNex2 {
  grid-template-rows: 8% 85%;

  & .PerformanceContent {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    border-radius: 10px;
    grid-template-columns: 70% 28.5%;


    & .leftPerf {
      width: 100%;
      gap: 20px 0;
      height: 95%;
      display: grid;
      grid-template-rows: repeat(2, 48.6%);


      & .graphicsPerf {
        background-color: var(--boxGraphic);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .comparativoMercado,
        .comparativoProprio {
          height: 98%;
          width: 98.5%;
          gap: 10px;
          display: grid;
          grid-template-rows: 10% 85%;

          & .titleMercado,
          .titleGDP {
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 20px;
            text-align: center;
            color: var(--titulos);
            font-size: 25px;
            font-family: "Wix Madefor Display", system-ui;
            font-weight: 700;
          }

          & .contentMercado,
          .contentGDP {
            background-color: var(--boxGraphicContent);
            width: 100%;
            height: 100%;
            border-radius: 10px;

            & #comparativoMercado2{
              display: block;
              width: 1150px;
              height: 271px;
              /* right: -100px; */
            }

            & .containerContentGDP{
              display: grid;
              justify-content: center;
              align-items: center;
              gap: 15px;
              border-radius: 10px; 
              height: 100%;
              background-color: var(--boxGraphicContent);
              grid-template-columns: 32% 66%;

              & .numFiliais, .mediaConsuFiliais, .compFiliais{
                height: 95%;
                width: 100%;
                gap: 10px;
                display: grid;
                grid-template-rows: 10% 85%;
                border-radius: 10px;        

                & .titleMediaConsuFiliais, .titleNumfiliais, .titlecompFiliais{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 20px;
                  text-align: center;
                  color: var(--titulos);
                  font-size: 25px;
                  font-family: "Wix Madefor Display", system-ui;
                  font-weight: 700;
                }

                & .contentNumFiliais, .contentMediaConsuFiliais, .contentcompFiliais{
                  font-size: 65px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: var(--titulos);
                  background-color: var(--boxGraphicContent);
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  border-radius: 15px;

                  & #graficoMockado{
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }

    }

    & .rightPerf {
      border-radius: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--boxGraphic);
      height: 94.7%;

      & .rankingPerf {
        height: 98%;
        width: 95%;
        gap: 10px;
        display: grid;
        grid-template-rows: 5% 93%;

        & .titleRank {
          display: flex;
          justify-content: start;
          align-items: center;
          padding: 0 20px;
          text-align: center;
          color: var(--titulos);
          font-size: 25px;
          font-family: "Wix Madefor Display", system-ui;
          font-weight: 700;
        }

        & .ranking {
          background-color: var(--boxGraphicContent);
          border-radius: 10px;

          & .contentRank {
            gap: 10px;
            width: 100%;
            height: 100%;
            border-radius: 10px;

            display: grid;
            grid-template-rows: repeat(5, 18%);

            & .rank1 {
              border-radius: 10px;
              display: flex;
              flex-direction: row;
              background-color: var(--boxGraphicContent);

              & .numLeftRank {
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                background-color: var(--boxGraphicContent);
                border-radius: 10px 0 0 10px;

                & .numRank {
                  width: 65%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: var(--titulos);
                  font-family: "Wix Madefor Display", system-ui;
                  font-size: 35px;
                  font-weight: 800;
                  height: 70%;
                  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                  border-radius: 50%;
                  background-color: var(--bcgIcone);
                }


              }

              & .infoRightRank {
                width: 70%;
                height: 100%;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                background-color: var(--boxGraphicContent);
                border-radius: 0 10px 10px 0;
                display: flex;
                flex-direction: column;

                & .titleInfoRank{
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: var(--titulos);
                  font-family: "Wix Madefor Display", system-ui;
                  font-size: 25px;
                  font-weight: 800;
                  height: 40%;
                  border-radius: 0 10px 0px 0;
                  background-color: var(--boxGraphicContent);
                  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
                }

                & .KMHInfoRank{
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: var(--titulos);
                  font-family: "Wix Madefor Display", system-ui;
                  font-size: 35px;
                  font-weight: 800;
                  height: 60%;
                  border-radius: 0 10px 0px 0;
                  background-color: var(--boxGraphicContent);
                }
              }
            }
          }
        }
      }
    }
  }
}

.highContentNex3 {
  grid-template-rows: 8% 85%;

  & .Funcionarios {
    display: flex;
    width: 100%;
    gap: 10px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--boxGraphic);
    padding: 20px;
    flex-direction: column;

    & .titleFuncionarios {
      width: 100%;
      height: 5%;
    }

    & h2 {
      color: var(--titulos);
      font-family: "Wix Madefor Display", system-ui;
    }

    & .funcionariosBox {
      background-color: var(--boxGraphicContent);
      width: 100%;
      height: 70%;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: "Wix Madefor Display", system-ui;
      flex-wrap: nowrap;
      overflow-x: auto;


      & .cardFuncionario {
        width: 20%;
        height: 95%;
        background-color: #33333369;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: 0 0 auto;
        margin-right: 10px;

        & .imgFuncionario {
          width: 80%;
          height: 50%;
          border-radius: 50%;

          img {
            width: 100%;
            border-radius: 50%;
            background-size: cover;
            height: 100%;
          }
        }
      }

      & h1 {
        color: var(--titulos);
      }
    }

    & .btnsActions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 10%;
      gap: 50px;

      & .btn {
        background-color: #585e70;
        width: 150px;
        height: 70px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        text-align: center;
        font-family: "Wix Madefor Display", system-ui;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;
      }

      & .btn.excluir:hover {
        transform: scale(1.1);
        background-color: #ac1c1c;
        transition: 0.4s;
      }

      & .btn.adicionar:hover {
        transform: scale(1.1);
        background-color: #1c66ac;
        transition: 0.4s;
      }
    }
  }

  .contentUserCadastro {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .inputs_box {
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      width: 97%;
      background-color: var(--boxGraphicContent);
      height: 80%;
  
      & .caracterPerson {
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 50%;
        padding: 0 20px;
        color: var(--titulos);
        font-size: 15px;
        background-color: var(--boxGraphicContent);
        font-weight: 700;
        border-radius: 15px 15px 0 0;
        font-family: "Wix Madefor Display", system-ui;
      }
  
      & label {
        width: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: var(--boxGraphicContent);
        flex-direction: row;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
        border-radius: 0 0 15px 15px;
  
        & .correcao {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 20%;
          height: 60%;
          color: var(--titulos);
          font-size: 15px;
          font-weight: 700;
          font-family: "Wix Madefor Display", system-ui;
        }
  
        & input {
          width: 80%;
          height: 60%;
          padding: 0 15px;
          background-color: var(--BoxBolt);
          border-radius: 15px;
          color: var(--titulos);
          font-weight: 600;
          border: none;
          outline: none;
        }
  
        ::-webkit-input-placeholder {
          color: var(--titulos);
        }
      }
      
      & label:nth-child(6),
      label:nth-child(2),
      label:nth-child(4) {
        margin-bottom: 10px;
      }
    }
    .btn {
      background-color: #585e70;
      width: 150px;
      height: 70px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      font-family: "Wix Madefor Display", system-ui;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s;
      margin-top: 40px;
    }
    .btn:hover{
        transform: scale(1.1);
        background-color: #1c66ac;
        transition: 0.4s;
    }
  }
  
}



.modalFuncionario {
  width: 800px;
  height: 600px;
  background-color: var(--hoverColor);
  border: none;
  border-radius: 10px;
  margin: auto;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.4s ease, transform 0.4s ease;

  i{
    width: 45px;
    height: 20px;
    outline: none;
    border: none;
    margin: 10px 15px;
    font-weight: bold;
    color: var(--titulos);
    transition: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    top: 10px;
    
  }
  button:hover{
    background-color: #0029cc;
    transition: 0.4s;
  }
}

.modalFuncionario.show {
  opacity: 1;
  transform: scale(1);
}

.modalFuncionario.hide {
  opacity: 0;
  transform: scale(0.9);
}




.highContentNex4 {
  grid-template-rows: 8% 85%;

  .contentProfile {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--boxGraphic);

    .leftProfile {
      width: 50%;
      gap: 10px;
      height: 70%;
      border-radius: 15px 0 0 15px;
      background-color: var(--boxGraphic);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .imgProfileUser {
        display: flex;
        border-radius: 50%;
        width: 42%;
        background-image: url(../assets/nexSystem/ed09ecde-6b65-448c-9681-f06add7cf182.jpeg);
        background-size: cover;
        background-position-y: bottom;
        height: 65%;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }

      .infoUser {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
        display: flex;
        font-size: 50px;
        font-weight: 700;
        font-family: "Wix Madefor Display", system-ui;
        width: 45%;
        height: 70%;

        .Username {
          width: 100%;
          height: 30%;
          background-color: var(--downLetter);
          width: max-content;
          height: max-content;
          padding: 10px 31px;
          display: flex;
          border-radius: 15px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          justify-content: center;
          align-items: center;
          color: var(--titulos);

        }

        .EntUser {
          width: 100%;
          height: 40%;
          display: flex;
          background-color: var(--downLetter);
          width: max-content;
          height: max-content;
          padding: 10px 40px;
          border-radius: 15px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          justify-content: center;
          align-items: center;
          color: var(--titulos);

        }

        .confirmarAlt {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;


          & .custom-file-label {
            width: 76%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 40px;
            border: none;
            font-size: 20px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            cursor: pointer;
            font-weight: 700;
            color: var(--titulos);
            border-radius: 15px;
            background-color: var(--hoverColor);
          }

          & .custom-file-label:hover {
            background-color: var(--marquee);
          }

          & input[type="file"] {
            display: none;
          }
        }

        & .membroData {
          color: var(--titulos);
          font-size: 15px;
          font-weight: 700;
          font-family: "Wix Madefor Display", system-ui;
        }
      }
    }

    .rightProfile {
      width: 50%;
      height: 100%;
      gap: 15px;
      display: grid;
      grid-template-columns: 100%;
      justify-content: center;
      grid-template-rows: 15% 65% 10%;
      border-radius: 0 15px 15px 0;
      background-color: var(--boxGraphicContent);

      .titleProfileUser {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0 20px;
        justify-content: start;
        align-items: center;

        & .edit {
          width: 100%;
          height: 90%;
          padding: 20px;
          font-size: 55px;
          color: var(--titulos);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-weight: 700;
          font-family: "Wix Madefor Display", system-ui;
        }
      }

      .contentInputUser {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .inputs_box {
          display: flex;
          flex-direction: column;
          border-radius: 15px;
          width: 97%;
          background-color: var(--boxGraphicContent);
          height: 100%;

          & .caracterPerson {
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 50%;
            padding: 0 20px;
            color: var(--titulos);
            font-size: 15px;
            background-color: var(--boxGraphicContent);
            font-weight: 700;
            border-radius: 15px 15px 0 0;
            font-family: "Wix Madefor Display", system-ui;
          }

          & label {
            width: 100%;
            padding: 0 15px;
            display: flex;
            justify-content: center;
            align-items: start;
            background-color: var(--boxGraphicContent);
            flex-direction: row;
            height: 100%;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
            border-radius: 0 0 15px 15px;

            & .correcao {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20%;
              height: 60%;
              color: var(--titulos);
              font-size: 15px;
              font-weight: 700;
              font-family: "Wix Madefor Display", system-ui;
            }

            & input {
              width: 80%;
              height: 60%;
              padding: 0 15px;
              background-color: var(--BoxBolt);
              border-radius: 15px;
              color: var(--titulos);
              font-weight: 600;
              border: none;
              outline: none;
            }

            ::-webkit-input-placeholder {
              color: var(--titulos);
            }
          }

          & label:nth-child(6),
          label:nth-child(2),
          label:nth-child(4) {
            margin-bottom: 10px;
          }
        }
      }

      & button {
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 15px;
        display: flex;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-items: center;
        color: var(--titulos);
        font-size: 25px;
        cursor: pointer;
        width: 40%;
        font-weight: 700;
        font-family: "Wix Madefor Display", system-ui;
        height: 100%;
        background-color: var(--bcgIcone);
      }

      & button:hover {
        background-color: var(--marquee);
      }
    }
  }
}


.highContentNex5 {
  grid-template-rows: 8% 85%;

  .boltContent {
    font-family: "Wix Madefor Display", system-ui;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--boxGraphic);
    padding: 20px;
    flex-direction: column;
  }


  /* Interrogação */

  .Interrogacao {
    position: absolute;
    width: max-content;
    height: max-content;
    left: 98%;
    top: 2%;
  }


  .caption {
    font-size: small;
    position: absolute;
    left: -22.5vh;
    width: 23vh;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .Interrogacao:hover .caption {
    opacity: 1;
  }


  .contentImgTexto {
    position: relative;
    top: 0vh;
    left: 2vh;
    display: flex;
    gap: 19vh;
    z-index: 1;
    width: 96%;
    height: 28vh;
  }

  .dogLogo {
    position: relative;
    width: 21vh;
    height: 22vh;
    left: 15vh;
    top: 9vh;
  }

  .cachorroContent {
    width: 23vh;
    height: 16vh;
  }

  .textUser {
    position: relative;
    top: 8vh;
    height: 16vh;
    font-family: "Montserrat", sans-serif;
    text-align: start;
  }



  .gradient-text {
    font-size: 7.5vh;
    font-weight: bold;
    background: var(--BoltIaUsername);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.153);
    /* Adiciona uma sombra para mais profundidade */

  }

  .msgUser {
    font-size: 5.5vh;
    color: var(--titulos);
    font-weight: bolder;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .textDuvidas {
    top: 9vh;
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--titulos);

  }


  .duvidasContent {
    gap: 2vh;
    display: flex;
    text-align: center;
    width: 100%;
    height: 6%;
    font-family: 'Montserrat', sans-serif;
  }



  .caixa {
    width: 50%;
    color: var(--titulos);
    top: 13vh;
    position: relative;
    border-radius: 1vh;
    background-color: var(--BoxBolt);
    height: 15vh;
    text-align: start;
    cursor: pointer;
    padding: 2.5vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }


  .word {
    font-weight: 700;

  }

  .frase {
    font-size: 1rem;
    color: rgb(215, 215, 215);

  }


  .boxChatMsg {
    display: flex;
    color: white;
    height: 9vh;
    width: 103%;
    align-items: flex-start;

  }

  .chatMsg {
    color: var(--titulos);
    font-family: inherit;
    font-size: larger;
    padding: 4vh;
    width: 100%;
    height: 8vh;
    outline: none;
    border: none;
    border-radius: 4vh;
    background-color: var(--BoxBolt);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-input-placeholder {
    color: var(--titulos);
  }

  .chatMsg:focus {
    color: var(--titulos);
  }


  .arrow {
    cursor: pointer;
    z-index: 1;
    top: 2vh;
    left: -8vh;
    position: relative;
    width: 4.5vh;
    transition: 0.5s;
  }

  .arrow:hover {
    transform: scale(105%);
  }

  .textPolitica {
    color: var(--titulos);
    text-decoration: underline;
  }

  .frase.Terms {
    color: var(--titulos);
    font-size: 1.7vh;
    font-weight: 100;
  }

  .contentChaTerms {
    width: 100%;
    height: 13vh;
    display: flex;
    position: relative;
    top: 28vh;
    flex-direction: column;
    text-align: center;
    gap: 2vh;
  }


}


.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease;
}